<ul class="tab tab-block">
  <li class="tab-item">
    <%= link_to "GitShrub", root_path %>
  </li>
  <li class="tab-item">
    <%= link_to "Repos", repos_path %>
  </li>
  <li class="tab-item">
    <%= link_to "Hello, #{current_user.username}.", users_path %>
  </li>
  <li class="tab-item">
    <%= link_to "Logout", logout_path %>
  </li>
</ul>