<body class="landing">
  <h1 class="landing-header">Welcome to GitShrub!</h1>
  
  <h3 class="card-header">Latest from your friends</h3>
  <% @following_activity.each do |activity| %>
    <% activity.each do |individual| %>
  <div class="card col-3">
    <div class="card-body">
          <%= link_to individual[:actor][:login], individual[:actor][:url].gsub(/api./, "") %>
          <p>
            <%= individual[:type].gsub(/Event/, "") %>'d <%= link_to individual[:repo][:name], individual[:repo][:url].gsub(/api./, "").gsub(/\/repos/, ""), target: "_blank" %>
          </p>
    </div>
  </div>
    <% end %>
  <% end %>
</body>
  
