<body class="landing">
  <h1 class="landing-header">Welcome to GitShrub!</h1>
  
<div class="container center-content">
    
    <h3 class="card col-3">Latest from your friends:</h3>
    <% @following_activity.each do |activity| %>
      <% activity.first(3).each do |individual| %>
        <div class="card col-3">
          <div class="card-body">
                <%= link_to individual[:actor][:login], individual[:actor][:url].gsub(/api./, "").gsub(/users/, ""), target: "_blank" %>
                <p>
                  <%= individual[:type].gsub(/Event/, "") %>'d <%= link_to individual[:repo][:name], individual[:repo][:url].gsub(/api./, "").gsub(/\/repos/, ""), target: "_blank" %>
                </p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>  

<div class="container center-content mentions-align">
  <% if @mentions != [] %>
  <h3 class="card card-header col-3">Mentions on:</h3>
  <div class="card col-3">
    <div class="card-body">
      <% @mentions.first(3).each do |mention| %>
        <%= link_to mention[:subject][:title], mention[:subject][:latest_comment_url]
                                                                .gsub(/api./, "")
                                                                .gsub(/\/repos/, "")
                                                                .gsub(/issues/, "pull")
                                                                .gsub(/comments\//, "#{mention[:subject][:url].last(2)}#issuecomment-"), target: "_blank" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</body>  






