/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* Whole site styles */
.center-content {
  display: flex;
  justify-content: center;
}
/* Landing page styles */
.landing {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.3) 100%), url(https://source.unsplash.com/collection/325867/);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}

.landing-header {
  text-align: center;
  font-weight: bold;
}

.center-activity {
  position: relative;
}

.mentions-align {
  margin-top: 10rem;
}

/* Repos page styles */
.form-button-align {
  margin-top: 2rem;
}

.repo-alignment-style {
  margin-top: 5rem;
}

.pr-alignment-style {
  margin-top: 5rem;
}